*{
    margin:0;
    padding:0;
  
}

body{
    background-color: #7ECC8D;
    color: #FFEAD1;
}

.container{
    width:250px;
    display: flex;
    flex-direction: column;
    padding: 5%  7%;
    background:#886FB3;
    margin: 5% auto;
}

#todolist{
    margin: 15% auto;
    padding: 100px;
}

.todo{
    padding:4px;
}

.todoTitle{
    display:inline;
    cursor: pointer;
   
  
}

.todoDelete{
    display: inline;
    background:#D2B8FF;
    border-radius: 8px;
    padding: 2px 4px;
    border: solid #fff 1px;
    color: #fff;
    float: right;
    cursor: pointer;
}

.buttonSave{
    color: #886FB3; 
    padding: 0 5px;

}